# Ignore everything in these folders
data/*
models/*
figures/*

# Allow .gitkeep files
!data/.gitkeep
!models/.gitkeep
!figures/.gitkeep

# Allow specific files
!models/TabularStandard_0.pt
!data/dataset_split.csv

